
<center>
  <h3> Testing Authority</h3>
  <div class="row">

    <div class="col s6 offset-s3"
      style="background-color: rgb(255, 255, 255); opacity: 1.0; height: 618px; padding: 20px 20px;  overflow: scroll; overflow-x: hidden; overflow-y: scroll;">
      <form autocomplete="off">
        <div>
          <br>
          <label style="font-size:16px; float:left; color:black;">Private Key</label>
          <input type="text" id="private2" required>
          <label style="font-size:16px; float:left; color:black;"> Asset ID Number</label>
          <input type="text" id="asset2" required>
          <label style="font-size:16px; float:left; color:black;"> Asset Condition</label>
          <input type="text" id="condition2" required>
          <label style="font-size:16px; float:left; color:black;"> Testing Company</label>
          <input type="text" id="company2" required>
          <label style="font-size:16px; float:left; color:black;">Date</label>
          <input type="date" id="date2" required>
          <br>
        </div>
        <div>
          <br />
          <button type="submit" onclick="testDepartment(event)" style="background-color: #0066ff"
            class="waves-effect waves-light btn-small">Submit</button>
          <br>
          <button type="reset" style="float: right; background-color: #ff0000"
            class="waves-effect waves-light btn-small">Clear</button>
        </div>
      </form>
    </div>
  </div>
</center>