

<center>
  <h3> Latest Transaction ID </h3>
  <div class="row">
    <div style="float:right; margin-right:50px;">
      <a href="/transactionReceipts">
        <button type="button" style="background-color: #0066ff" class="waves-effect waves-light btn-small">Transaction
          Receipts</button>
      </a>
    </div>
    <div class="col s6 offset-s3"
      style="background-color: rgb(255, 255, 255); opacity: 1.0; height: 300px; padding: 20px 20px;  overflow: scroll; overflow-x: hidden; overflow-y: scroll;">
      <form autocomplete="off">
        <div class="formtext">

          <div>
            <br />
            <button type="submit" onclick="transactionIdData(event)" style="background-color: #0066ff"
              class="waves-effect waves-light btn-small">Get Latest Transaction's ID</button>
          </div>
      </form>
    </div>
  </div>

  <div>
    <input type="text" id="result3" placeholder="result coming soon" />
  </div>
</center>